<ui>
	<menubar name="MainMenu">
		<menu name="FileMenu" action="FileMenuAction">
			<menuitem name="New" action="NewAction" />
			<menuitem name="Open" action="OpenAction" />
			<menuitem name="Save" action="SaveAction" />
			<menuitem name="Save as.." action="SaveAsAction" />
			<menuitem name="Quit" action="QuitAction" />
		</menu>
		<menu name="HelpMenu" action="HelpMenuAction">
			<menuitem name="About" action="AboutAction" />
		</menu>
	</menubar>
</ui>
